body {
    min-height:100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cbebef+0,c3e0b3+100 */
    background: #cbebef; /* Old browsers */
    background: -moz-linear-gradient(top, $brand-secondary 0%, $brand-primary 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $brand-secondary 0%,$brand-primary 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $brand-secondary 0%,$brand-primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$brand-secondary, endColorstr=$brand-primary,GradientType=0 ); /* IE6-9 */
}