@mixin button-variant($color, $background, $hoverColour: $background) {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    background: $background;
    color:$color;
    @include transition(color .3s);
    @include transform(perspective(1px));
    @include transform(translateZ(0));
    border:none;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $hoverColour;
        @include transform(scaleY(0));
        transform-origin: 50% 100%;
        @include transition(transform .3s ease-out);
    }

    &:hover,
    &:focus,
    &:active {
        background: $background;
        color:$color;
        &:before {
            @include transform(scale(1));
            transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
        }
    }
}