$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-family-cursive: 'Concert One', cursive;

$brand-primary:#ABCC99;
$brand-secondary:#BBE3E9;
$text-color:#454545;

$panel-body-padding: 32px;
